.menu-container {
    height: 500px;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid blanchedalmond;
    background-color: whitesmoke;
    text-align: left;
}

#game-viewer {
    margin: 10px;
    display: inline-block;
    box-sizing: border-box;
    background: white;
    width: 50%
}

#global-chat-container {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background: white;
    margin: 10px;
    width: 50%;
}

#global-chat-editor {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#global-message-box {
    max-height: 70%;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: whitesmoke;
}

.selected-row {
    background-color: lightgoldenrodyellow;
}

.joined-row {
    background-color: lightskyblue;
}

#game-list-table tbody tr:hover{
    background-color: lightgrey;
}

.error {
    color: red;
}