.menu-container {
    height: 300px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid blanchedalmond;
    background-color: whitesmoke;
    text-align: left;
}

#game-viewer {
    margin: 20px;
    display: inline-block;
    background: white;
    width: 50%
}

#game-list-table {
    width: 80%;
}

.selected-row {
    background-color: lightgreen;
}

#game-list-table tbody tr:hover :not(.selected-row){
    background-color: lightgrey;
}